<%- include('header', { title: 'Change Password' }); %>
<%- include('nav_bar', { id: id, user: user }); %>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">

            <div class="col-md-9 col-lg-8 mx-auto" id="login_dialog">
              <h3 class="login-heading mb-4">Change Your Password Here!</h3>
              <form id="password_form">
                <div class="form-label-group">
                  <input type="password" id="newpassword_input" class="form-control" placeholder="new password" required
                    autofocus />
                  <label for="newpassword_input">New Password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="confirmepassword_input" class="form-control"
                    placeholder="confirme password" required />
                  <label for="confirmepassword_input">Confirme Password</label>
                </div>

                <div class="btn-div">
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold m-2"
                    type="submit" id="change_password_button">
                    Save
                  </button>
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold m-2"
                    id="cancle_change_password_button">
                    Cancel
                  </button>
                </div>

                <div class="alert alert-danger fade show" style="display: none;" id="password_error">
                  <h4 class="alert-heading">Error!</h4> <span id="password_button_error_message"></span>
                </div>

                <hr />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer', { javascript_uri: '/javascripts/change_password.js' }); %>